{% extends 'base.html.twig' %}

{% block stylesheets%}
<link href="{{ asset('assets/css/estilsseccio.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h2 id="titolinici"> Dades de la secció {{codi}} </h2>
    <br>
    <div class="block">
        <p>Imatge secció</p>
        <img src="{{ asset('assets/img/'~imatge) }}">
    </div>

    <div class="bloc"> 
        <p id="paragrafinici">{{nom}}</p>
    </div>

      <div class="bloc"> 
        <p id="paragrafinici">{{any}}</p>
    </div>

      <div class="bloc"> 
        <p id="paragrafinici">{{descripcio}}</p>
    </div>

    <div class="bloc"> 
        <ul>
        {% for article in articles %}
            <li>{{ article }}</li>
        {% endfor %}
        </ul>
    </div>
    
    <a href="{{path('inici')}}" class="nav-link  active"><img src="https://www.iconarchive.com/download/i103430/paomedia/small-n-flat/house.1024.png" style="width:25px"> <span>Inici</span></a>
{% endblock %}