{% extends 'base.html.twig' %}

{% block stylesheets%}
<link href="{{ asset('assets/css/estilsseccio.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h2 id="titolinici"> Dades de la secció {{codi}} </h2>

    <div class="bloc"> 
        <p id="paragrafinici">{{nom}}</p>
    </div>

      <div class="bloc"> 
        <p id="paragrafinici">{{any}}</p>
    </div>

      <div class="bloc"> 
        <p id="paragrafinici">{{descripcio}}</p>
    </div>

    <div class="bloc"> 
        <ul>
        {% for article in articles %}
            <li>{{ article }}</li>
        {% endfor %}
        </ul>
    </div>
    
    <li><a href="{{path('home')}}" class="nav-link  active"><i class="bx bx-home"></i> <span>Inici</span></a></li>
{% endblock %}